.navbar {
  display: flex;
  justify-content: space-around;
  background: #222;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}
.navbar button {
  background: none;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}
.navbar button.active {
  color: #55e;
  border-bottom: 2px solid #55e;
}